@use "../abstract/variables" as *;

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

main {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    font-family: $font-jost;
    color: $foreground;
    background: $background;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overscroll-behavior: none;
}