@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap");

@font-face {
  font-family: "SF_pro_display";
  src:
    url("/fonts/sf-pro-display-semibold.woff2") format("woff2"),
    url("/fonts/sf-pro-display-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Renogare";
  src:
    url("/fonts/Renogare-Regular.woff2") format("woff2"),
    url("/fonts/Renogare-Regular.woff") format("woff");
}
