@use "../abstract/variables" as *;

@media (scripting: enabled) {
  .loading {
    &::before,
    &::after {
      content: "";
      position: fixed;
      z-index: 10000;
    }
    &::before {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-bg;
    }
    &::after {
      top: 50%;
      left: 50%;
      width: 100px;
      height: 1px;
      margin: 0 0 0 -50px;
      background: $color-link;
      animation: loaderAnim 1.5s ease-in-out infinite alternate forwards;
    }
  }
}

@keyframes loaderAnim {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 50%;
  }
  50% {
    transform: scaleX(1);
    transform-origin: 0% 50%;
  }
  50.1% {
    transform: scaleX(1);
    transform-origin: 100% 50%;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% 50%;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12vh;
  width: 100%;
  padding-top: 14vh;

  &__header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
}

.content {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1000;

  &__preview-img {
    position: relative;
    margin: 0;
    width: 100vw;
    height: 600px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__group-list {
    display: flex;
    flex-direction: column;
    padding: 4rem $page-padding;
  }

  &__group {
    display: none;
    &.active {
      display: block;
    }
  }

  &__title {
    justify-self: end;
    font-family: "ivyora-display", serif;
    font-weight: 400;
    font-size: clamp(2.5rem, 10vw, 6rem);
    line-height: 1;
    margin-bottom: 3rem;
    margin-top: 40vh;
    color: #141414;
    &:focus {
      outline: none;
    }
  }

  &__description {
    justify-self: end;
    margin-right: 10vw;
    max-width: 50ch;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
  }
}
