@use '../abstract/variables' as *;

.page-realisation {

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $bg-realisation;
  min-height: 100vh;
  position: relative; 






}
