$background: #ffffff;
$bg-realisation: #fafafa;
$foreground: #171717;

$color-text: #9b9b9b;
$color-bg: #ffffff;
$color-link: #9b9b9b;
$color-link-hover: #000000;
$color-desc: #9b9b9b;
$page-padding: 1.5rem;
