$background: #ffffff;
$bg-realisation: #fafafa;
$foreground: #171717;

$color-text: #9b9b9b;
$color-bg: #ffffff;
$color-link: #9b9b9b;
$color-link-hover: #000000;
$color-desc: #9b9b9b;
$color-white: #ffffff;
$page-padding: 1.5rem;

$font-sf: "SF_pro_display";
$font-renogare: "Renogare";
$font-jost: "Jost", sans-serif;